[class~="button"] {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #f4f5f6;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  border: 2px solid #3a6ff8;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.button svg {
  fill: #3b71fe;
  stroke: #3b71fe;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover svg {
  stroke: #3b71fe;
}

.form-button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #3b71fe;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.form-button:hover {
  opacity: 0.9;
}
