.image_container {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile {
  text-align: center;
  margin: -45px auto;
  width: 100%;
  position: absolute;
  display: grid;
  grid-gap: 12px;
  justify-items: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #fcfcfd;
  box-sizing: border-box;
  border-radius: 60px;
  background-color: #fcfcfd;
}

.button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.name {
  display: grid;
  grid-gap: 4px;
  margin-bottom: 16px;
}

.info_wrapper {
  margin-bottom: 48px;
}

.text {
  margin-top: 16px;
}

.info_grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 12px;
}

.info {
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px;
}

@media (max-width: 428px) {
  .image_container {
    height: 220px;
  }
}
