.container {
  border: 2px solid #f4f5f6;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content {
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 16px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #a4cde3;
  box-sizing: border-box;
  border-radius: 60px;
}

.text_wrapper {
  display: grid;
  grid-gap: 4px;
  text-align: left;
}

.svg_container {
  width: 44px;
  height: 44px;
  border: 2px solid #e6e8ec;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s linear;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:hover {
  background-color: #fcfcfd;
  box-shadow: 0px 20px 40px rgba(15, 15, 15, 0.07);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:hover .svg_container {
  border: 2px solid #3a6ff8;
}

.container:nth-child(1) {
  animation: fadeIn 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:nth-child(2) {
  animation: fadeIn 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:nth-child(3) {
  animation: fadeIn 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container:nth-child(3) {
  animation: fadeIn 4.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 428px) {
  .container {
    width: 340px;
    padding: 20px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .content {
    grid-template-columns: 60px auto;
    grid-gap: 12px;
  }
}
